.navbar {
  margin-left: 24rem;
     min-height: 10vh;
    display: flex;
    align-items: center;
     justify-content: space-around;
     
}

.navbar p {
    font-size: x-large;
}

.navbar button {
    font-size: x-large;
     border-radius: 10px;
      font-weight: 200;
     background-color: rgb(196, 255, 173);
      padding: 0.5rem;
      transition: all 0.3s ease;
      &:hover{
         color: rgb(93, 210, 108);
        background-color: aliceblue;
      }
      cursor: pointer;
}

